.slide_bar_wrap {
  color: #bfbfbf;
  /* width: 150%; */
  /* font-size: 14px; */
}

.slide_bar_wrap .about_me_section {
  display: none;
}

.slide_bar_wrap a:hover {
  border-color: #0085a1 !important;
  color: #0085a1 !important;
}


.slide_bar_wrap h4 {
  color: gray;
  padding-bottom: 1em;
}

.slide_bar_wrap h4 a {
  color: gray !important;
  text-decoration: none;
}

.slide_bar_wrap .tags a {
  color: #bfbfbf;
  border-color: #bfbfbf;
}

.about_me img {
  width: 80%;
  display: block;
  border-radius: 5px;
  margin-bottom: 20px;

}



@media only screen and (min-width: 992px) {
  .slide_bar_wrap {
    width: 150%;
  }

  .slide_bar_wrap .about_me_section {
    display: block;
  }
}
