:root {
  --main-color: #000;
  --bg-color: #fff;
  --text-color: #374751;
  --hover-color: #23527c;
  --nav-hover-color: rgba(255, 255, 255, .8);
  --nav-text-color: #fff;
  --nav-fixed-text-color: #000;
  font-size: 10px;
  /* transition: 10s; */
}

:root.dark {
  --main-color: #fff;
  --bg-color: #111;
  --text-color: #e5e7eb;
  --hovers-color: #23527c;
}

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  font-size: 16px;
  color: #404040;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 30px 0;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  line-height: 1.1;
  font-weight: 700;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--hover-color);
}

a.nav {
  color: var(--nav-text-color);
  transition: color .3s;
}

a.nav:hover {
  color: var(--nav-hover-color);
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.wh-100 {
  width: 100%;
  height: 100%;
}

.px-15 {
  padding: 0 15px;
}
