.main_layout {
    color: var(--nav-text-color);
    /* width: 100%;
    height:400px;
    background-color: aquamarine;
    transition: 0.3s; */
    background-color: var(--bg-color);
}

/* 顶部区域 */
.main_layout header {
    width: 100%;
    height: 250px;
    transition: 0.3s;
    background: no-repeat center center;
    background-color: gray;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-image: url('https://liou666.github.io/img/post-bg-desk.jpg');
}

.main_layout .site_heading {
    /* font-size: 40px; */
    font-weight: 700;
    /* text-transform: uppercase; */
    color: var(--nav-text-color);
    /* margin-bottom: 30px; */
}

.main_layout .site_heading .page_title {
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
    transition: 0.3s;
    margin-top: 10;
    margin-bottom: unset;
}

.main_layout .subheading {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-size: 18px;
    line-height: 1.1;
    display: block;
    font-weight: 300;
    margin: 10px 0 0;
}

/* 内容区域 */
.main_layout main {
    display: flex;
    padding: 15px;
    margin: auto;
    transition: 0.3s;
}

.main_layout main .container {
    /* background-color: bisque; */
    width: 100%;
}

/* 侧边区域 */
.main_layout .slide_bar {
    color: #bfbfbf;
    font-size: 14px;
    /* display: none; */
    /* background-color: blueviolet; */
}

/* 底部区域 */
.main_layout footer {
    font-size: 20px;
    padding: 50px 0 65px;
    text-align: center;
    color: var(--text-color);
}


@media screen and (min-width: 768px) {
    .main_layout header {
        height: 400px;
    }

    .main_layout main {
        width: 750px;
    }

    .main_layout .site_heading .page_title {
        font-size: 80px;
    }

}

@media screen and (min-width: 992px) {
    .main_layout main {
        width: 970px;
    }

    .main_layout .slide_bar {
        width: 240px;
        display: block;
        padding-right: 5%;
    }
}

/* @media screen and (min-width: 1200px) {
    .main_layout .slide_bar {
        padding-right: 5%;
    }
} */

@media screen and (max-width: 992px) {
    .main_layout .container {
        padding: 0px;
    }

    .main_layout main {
        display: flex;
        flex-direction: column;
    }
}
