.h2_nav,
.h1_nav,
.h3_nav {
  margin-left: 0;
  font-size: 13px;
  font-weight: 700;
}

.h4_nav,
.h5_nav,
.h6_nav {
  margin-left: 10px;
  font-size: 12px;
}

.side-catalog {
  display: block;
  overflow: auto;
  height: 100%;
  padding-bottom: 40px;
}

.side-catalog h5 {
  color: gray;
  /* padding-bottom: 1em; */
}

.side-catalog.fold .catalog-body {
  display: none;
}

.side-catalog.fold .catalog-toggle::before {
  content: "+";
}

.fixed {
  position: fixed;
  top: -21px;
}

.side-catalog .catalog-toggle::before {
  content: "−";
  position: relative;
  margin-right: 5px;
  bottom: 1px;
}

.side-catalog a {
  color: gray !important;
  padding-left: 10px;
  max-width: 180px;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.side-catalog a:hover {
  color: #0085a1 !important;
  text-decoration: none;
}

.side-catalog h5 a {
  font-size: 14px;
  padding: 0;
}

.side-catalog .active {
  transition: 1s;
  border-radius: 4px;
  background-color: #F5F5F5;
}



.catalog-body li a {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 180px;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.side-catalog .catalog-body {
  position: relative;
  list-style: none;
  height: auto;
  overflow: hidden;
  padding-left: 0;
  padding-right: 5px;
  text-indent: 0;
}
